/* Global color variable for the whole application using css variables*/

:root {
  /* Deep Wine/Dark red primary color */
  --color-primary: #7b0619;
  /* Slighty lighter red accent */
  --color-accent: #b3122f;
  /* Dark background for page and navbar */
  --color-bg: #050608;
  /* Dark but lighter surface for cards/panels */
  --color-surface: #111217;
  /* White text color */
  --color-text: #f5f5f5;
  /* Muted gray text for secondary info/items */
  --color-muted: #a0a0a0;
  /*Subtle border color for card outlines and dividers */
  --color-border: #2a2c34;
  /* Soft shadow for cards */
  --shadow-soft: 0 10px 25px rgba(0, 0, 0, 0.55)
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI","Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans","Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}
